* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "Roboto";
}

body {
    width: 1200px;
    margin: auto;
    background-color: #837fb1;
}

h1 {
    color: #fff;
    text-align: center;
    font: 400 48px "Roboto";
    margin-top: 10px;
}

.contain {
    width: 700px;
    height: 360px;
    border-radius: 21px;
    background: var(--neutral-700, #212931);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 5% auto;
    padding: 15px;
}

.img {
    background-image: url(./assets/Group\ 15.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 57px;
    height: 13px;
    margin-left: 10px;
}

p {
    text-align: center;
    color: #fff;
    margin-top: 167px;
    font: 700 26px "Roboto";
}